src/_internal/torch/lib/torch_cpu.dll filter=lfs diff=lfs merge=lfs -text
src/_internal/jaxlib/xla_extension.pyd filter=lfs diff=lfs merge=lfs -text
src/_internal/cv2/cv2.pyd filter=lfs diff=lfs merge=lfs -text
bin/setup_assistente_0010.exe filter=lfs diff=lfs merge=lfs -text
src/_internal/imageio_ffmpeg/binaries/ffmpeg-win64-v4.2.2.exe filter=lfs diff=lfs merge=lfs -text
src/srvouve.exe filter=lfs diff=lfs merge=lfs -text
