# Lazarus / Free Pascal
lib/
*.o
*.ppu
*.or
*.compiled
*.bak
*.lps
*.identcache
*.stat
backup/

# Logs e arquivos temporarios
*.log
*.RIA
*.tmp

*.db
output/

cache/
src/cache/

__pycache__/
*.pyc
tests/test-output/
tests/reception_tests.exe
